In [8]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect("../health_indicators.db")

# Example 1: Get first 5 rows
df = pd.read_sql("SELECT * FROM diabetes_health_indicators LIMIT 5;", conn)
print(df)

   age  gender ethnicity education_level  income_level employment_status  \
0   58    Male     Asian      Highschool  Lower-Middle          Employed
1   48  Female     White      Highschool        Middle          Employed
2   60    Male  Hispanic      Highschool        Middle        Unemployed
3   74  Female     Black      Highschool           Low           Retired
4   46    Male     White        Graduate        Middle           Retired

  smoking_status  alcohol_consumption_per_week  \
0          Never                             0
1         Former                             1
2          Never                             1
3          Never                             0
4          Never                             1

   physical_activity_minutes_per_week  diet_score  ...  hdl_cholesterol  \
0                                 215         5.7  ...               41
1                                 143         6.7  ...               55
2                                  57         6.4  ...               66
3                                  49         3.4  ...               50
4                                 109         7.2  ...               52

   ldl_cholesterol  triglycerides  glucose_fasting  glucose_postprandial  \
0              160            145              136                   236
1               50             30               93                   150
2               99             36              118                   195
3               79            140              139                   253
4              125            160              137                   184

   insulin_level  hba1c  diabetes_risk_score  diabetes_stage  \
0           6.36   8.18                 29.6          Type 2
1           2.00   5.63                 23.0     No Diabetes
2           5.07   7.51                 44.7          Type 2
3           5.28   9.03                 38.2          Type 2
4          12.74   7.20                 23.5          Type 2

   diagnosed_diabetes
0                   1
1                   0
2                   1
3                   1
4                   1

[5 rows x 31 columns]

In [12]:
conn.close()